<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <a class="navbar-brand" href="#">Proyecto NestJS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/"><i class="fas fa-home"></i> Inicio</a>
      </li>
      
      <!-- <li class="nav-item dropdown" *ngIf="isLogged">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="far fa-list-alt"></i> Categorías
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" routerLink="/listaCategorias">Lista Categorias</a></li>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->

      <li class="nav-item dropdown" *ngIf="isAdmin">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          <i class="far fa-list-alt"></i> Categorías
        </a>
        <div class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/listaCategorias">Lista Categorias</a></li>
          <li><a class="dropdown-item" routerLink="/nuevaCategoria">Nueva Categoria</a></li>
        </div>
      </li>

      <li class="nav-item dropdown" *ngIf="isLogged">
        <a class="nav-link dropdown-toggle" href="#" id="productosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="far fa-list-alt"></i> Productos
        </a>
        <div class="dropdown-menu" aria-labelledby="productosDropdown">
          <a class="dropdown-item" routerLink="/listaProductos">Lista Productos</a>
          <a class="dropdown-item" routerLink="/nuevoProducto" *ngIf="isAdmin">Nuevo Producto</a>
        </div>
      </li>

      <li class="nav-item dropdown" *ngIf="isAdmin">
        <a class="nav-link dropdown-toggle" href="#" id="proveedoresDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="far fa-list-alt"></i> Proveedores
        </a>
        <div class="dropdown-menu" aria-labelledby="proveedoresDropdown">
          <a class="dropdown-item" routerLink="/listaProveedores">Lista Proveedores</a>
          <a class="dropdown-item" routerLink="/nuevoProveedor">Nuevo Proveedor</a>
        </div>
      </li>

      <li class="nav-item dropdown" *ngIf="isAdmin">
        <a class="nav-link dropdown-toggle" href="#" id="contratosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="far fa-list-alt"></i> Contratos
        </a>
        <div class="dropdown-menu" aria-labelledby="contratosDropdown">
          <a class="dropdown-item" routerLink="/listaContratos">Lista Contratos</a>
          <a class="dropdown-item" routerLink="/nuevoContrato">Nuevo Contrato</a>
        </div>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success" routerLink="/login" *ngIf="!isLogged"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</button>
      <button class="btn btn-outline-danger" *ngIf="isLogged" (click)="logOut()"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</button>
    </form>
  </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>