<app-menu></app-menu>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreproducto">Nombre Producto:</label>                    
                    <select [(ngModel)]="nombreproducto" name="nombreproducto">
                        <option value="">Seleccione un Producto</option>
                        <option *ngFor="let producto of productos" [ngValue]="producto.nombre">{{ producto.nombre }}</option>
                      </select>
                </div>
                <div class="form-group">
                    <label for="precioVenta">Precio Venta Unitario</label>
                    <input type="number" class="form-control" id="precioVenta" name="precioVenta" [(ngModel)]="precioVenta" required
                        autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="totalVendido">Total Unidades Vendidas</label>
                    <input type="number" class="form-control" id="totalVendido" name="totalVendido" [(ngModel)]="totalVendido" required
                        autocomplete="off">
                </div>
                <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="far fa-plus-square"></i> Crear</button>
                <button class="btn btn-outline-primary btn-block" (click)="volver()"><i
                        class="fas fa-arrow-alt-circle-left"></i> Volver</button>
            </form>
        </div>
    </div>
</div>