<app-menu></app-menu>

<div class="container" *ngIf="topproducto">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="topproducto.nombre"
                        required autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="imagenUrl">Imagen</label>
                    <input type="text" class="form-control" id="imagenUrl" name="imagenUrl" [(ngModel)]="topproducto.imagenUrl"
                        required autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripcion</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="topproducto.descripcion"
                        required autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="puntaje">Puntaje</label>
                    <input type="number" class="form-control" id="puntaje" name="puntaje" [(ngModel)]="topproducto.puntaje"
                        required autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="rentabilidad">Rentabilidad</label>
                    <input type="text" class="form-control" id="rentabilidad" name="rentabilidad" [(ngModel)]="topproducto.rentabilidad"
                        required autocomplete="off">
                </div>
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="fa-regular fa-pen-to-square"></i>Actualizar</button>
                <button class="btn btn-outline-primary btn-block" (click)="volver()"><i
                        class="fas fa-arrow-alt-circle-left"></i> Volver</button>
            </form>
        </div>
    </div>
</div>
