<app-menu></app-menu>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="identificador">Identificador</label>
                    <input type="text" class="form-control" id="identificador" name="identificador" [(ngModel)]="identificador" required
                        autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="fechaInicio">Fecha Inicio Contrato</label>
                    <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" [(ngModel)]="fechaInicio" required 
                    autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="fechaFin">Fecha Finalizacion Contrato</label>
                    <input type="date" class="form-control" id="fechaFin" name="fechaFin" [(ngModel)]="fechaFin" required
                        autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="proveedor">Proveedor</label>
                    <select [(ngModel)]="proveedor" name="proveedor">
                        <option *ngFor="let proveedor of proveedores" [value]="proveedor.nombre">{{ proveedor.nombre }}</option>
                      </select>
                </div>
                <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="far fa-plus-square"></i> Crear</button>
                <button class="btn btn-outline-primary btn-block" (click)="volver()"><i
                        class="fas fa-arrow-alt-circle-left"></i> Volver</button>
            </form>
        </div>
    </div>
</div>